.Home{
  width: 80%;
  margin: 5em auto;
  text-align: center;
  /* display: flex; */
}

.sign-buttons{
  list-style: none;
  
}

.button {
  border: 2px solid black;
  width: fit-content;
  margin: 2em auto;
  padding: 1em;
}

.yes-no-button-wrapper{
  display: flex;
  width: 40%;
  margin: auto;
}

.button-wrapper {
  margin: 2em;
  display: flex;
  height: 100px;
  width: 100px;
  border: 2px solid black;
  justify-content: center;
  align-items: center;
}

.buttons-wrapper {
  margin: 2em auto;
  display: flex;
  width: 75%;
  flex-wrap: wrap;
  border: 2px solid black;
  justify-content: center;
  
}

.Card {
  height: 300px;
  width: 300px;
  border: 2px solid black;
}

.card-wrapper{
  width: 30%;
  margin: 3em auto;
}